<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEAM</title>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h2>{{>header}}</h2>
  <div>
    <img src={{image}} alt="">
    <h2 class="desc">{{name}}</h2>
    <p class="desc">{{city}}</p>
    <p class="desc">{{desc}}</p>
  </div>
  <h2>{{>footer}}</h2>
</body>
</html>